/**
*
*   Page 404 not found
*   Challenge on https://devchallenges.io/challenges/wBunSb7FPrIepJZAg0sY
*/
:root {
    --footer-height: 50px;
}

/* MOBILE FIRST */
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative;
}
header {
    font-family: 'Inconsolata', monospace;
    padding-left: 25px;
    padding-top: 15px;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}
header p {
    margin: 0;
}
main {
    font-family: 'Space Mono', monospace;
    padding: 25px;
}
img {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.right-container {
    margin-bottom: 45px;
}
.right-container h1 {
    font-weight: 700;
    font-size: 48px;
    margin: 10px auto;
}
.right-container p {
    color: #4F4F4F;
    font-size: 18px;
}
.right-container a {
    display: inline-block;
    text-decoration: none;
    padding: 24px 46px;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    margin-top: 15px;
}
footer {
    font-size: 14px;
    text-align: center;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    bottom: 0;
}

/* MIN-WIDTH : 960PX */
@Media only screen and (min-width: 960px) {
    body {
        min-height: 100vh;
        padding: 0;
        margin: 0;
        position: relative;
    }
    header {
        padding-left: 25px;
        padding-top: 25px;
    }
    header p {
        margin: 0;
    }
    main {
        display: flex;
        justify-content: space-between;
        max-width: 80%;
        margin: 0 auto;
    }
    .right-container {
        width: 40%;
    }
    .right-container h1 {
        font-size: 64px;
    }
    .right-container p {
        font-size: 24px;
    }
    img {
        height: 448px;
        width: 540px;
    }
    footer {
        margin: 0;
        height: var(--footer-height);
        position: absolute;
        bottom: 0;
    }
    footer p {
        padding: 0;
    }
}